#background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
    background-image: url(../img/avej4YDK15MNZCC1481777810_1481777842.png);
    background-size: cover;
    opacity: 0.5;
}

body {
    text-align: center;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin: -150px 0px 0px -200px; /* 幅と高さの半分のネガティブマージン */
}

#remain {
    position: fixed;
    top: 3.5em;
    left: 0;
    right: 0;
    width: 100%;
    height: 2em;
    opacity: 0.9;
    background-color: aqua;
}

#keyword {
    position: fixed;
    top: 3.5em;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 5em;
    font-weight: bold;
    vertical-align: middle;
}

#message{
    font-size: 3em;
}

#keyword #type {
    font-size: 0.5em;
    font-weight: bold;
    color: orangered;
}

.navbar-default {
    background-color: RoyalBlue;
    border-color: rgba(34,34,34,.05);
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

#but_mes{
    position: fixed;
    top: 7em;
    left: 0;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
