body {
    text-align: center;
    background-color: #FFF8E1;
}
#about > table {
    margin: 2em auto;
    font-size: 32px;
    text-align: left;
    border-spacing: 0;
    background-color: #F1F8E9;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
#about > tr > td {
    border-bottom: 1px solid cyan;
    padding: 0 1.6em;
}
#about > tr > td:nth-child(2n) {
    text-align: right;
}
#about > img {
    border: 1px solid darkcyan;
    border-radius: 50%;
    margin: 2em;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
h1 {
    font-size: 64px;
    margin: 1em auto 0 auto;
}
h2 {
    margin: 2px auto;
    font-size: 32px;
}

#about > h1:before,
#friend > div > h1:before,
#about > h1:after,
#friend > div > h1:after
{
    content: "  ー  ";
    color: orange;
}

section {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

section > .col-lg-8 {
    background-color:	rgba(255,255,255,0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section > .col-lg-8 > hr {
    margin: 30px auto;
    border: solid 3px #F05F40;
    min-width: 60px;
    max-width: 60px;
}

section > .col-lg-8 > * {
    color: black;
    font-weight: bold;
}
section > .col-lg-8 > p {
    color: black;
}
section > .col-lg-8 > a:hover {
    color: orange;
    transition: all .3s ease;
}

#about {
    display: block;
}

#friend {

    display: flex;
    flex-direction: column;
}
header {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('../img/header_1.jpg') center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}

.quiz-game {
    background-image: url("../img/quiz_2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    min-height: 500px;
}

.action-game {
    background-image: url("../img/action_8.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    min-height: 500px;

}

.typing-game {
    background-image: url("../img/typing_5.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    min-height: 500px;

}

#friend {
  width:100%;
  height:100%;
  max-width: 875px;
  margin: 0 auto;
}

#friend > :nth-child(2) {
  display:flex;
  flex-direction:column;
}

#friend > :nth-child(2) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow:1;
}

#friend > :nth-child(2) > div > * {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /*height: min-content;*/
  background-color: #E3F2FD;
  position: relative;
  padding-bottom: 30%;
  height: 0;
  max-width: 100%;
  overflow: hidden;
  transition: all .3s ease-out;
  opacity: 1;
}

#friend > :nth-child(2) > div > * > img {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto ;
  width: 100%;
  height: 100%;
}

#friend > :nth-child(2) > div > *:hover > img {
  display: none;
  width: 100%;
  height: 0;
}

#friend > :nth-child(2) > div > * > :nth-child(2) {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#friend > :nth-child(2n) > :nth-child(2) > *:hover > :nth-child(2) {
  display: flex;
}
